altgraph==0.17.5
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
cffi==2.0.0
cryptography==46.0.3
packaging==26.0
pefile==2024.8.26
pycparser==3.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pyperclip==1.11.0
python-dotenv==1.2.1
pywin32-ctypes==0.2.3
typing_extensions==4.15.0
